name: uplink
description: Flutter Satellite.im Minimal Secure Chat Client.
version: 1.0.0+1
publish_to: none

environment:
  sdk: ">=2.16.0 <3.0.0"
  flutter: "2.10.4"

dependencies:
  azlistview: ^2.0.0
  bloc: ^8.0.3
  dropdown_button2: ^1.4.0
  flutter:
    sdk: flutter
  flutter_bloc: ^8.0.1
  flutter_localizations:
    sdk: flutter
  intl: ^0.17.0
  provider: ^6.0.2
  shared_preferences: ^2.0.13
  ui_library:
    path: 'packages/ui_library'
  # delete showroom when exporting production app
  ui_showroom:
    path: 'packages/ui_showroom'

dev_dependencies:
  bloc_test: ^9.0.3
  flutter_test:
    sdk: flutter
  mocktail: ^0.3.0
  very_good_analysis: ^2.4.0

flutter:
  uses-material-design: true
  generate: true

# delete mock data and user image when exporting production app
  assets:
    - 'lib/utils/mock/data/mock_contact_list.json'
    - 'lib/utils/mock/data/mock_friend_requests.json'
    - 'lib/utils/mock/data/mock_outgoing_requests.json'
    - 'lib/utils/mock/data/mock_friends_list.json'
    - 'lib/utils/mock/data/mock_favorites_list.json'
    - 'packages/ui_library/images/placeholders/'

  fonts:
    - family: Poppins
      fonts:
        - asset: packages/ui_library/fonts/text/Poppins-Regular.ttf
          weight: 400
        - asset: packages/ui_library/fonts/text/Poppins-Medium.ttf
          weight: 500
        - asset: packages/ui_library/fonts/text/Poppins-Bold.ttf
          weight: 700
        - asset: packages/ui_library/fonts/text/Poppins-SemiBold.ttf
          weight: 600
        - asset: packages/ui_library/fonts/text/Poppins-Italic.ttf
          weight: 400

    - family: SpaceMono
      fonts:
        - asset: packages/ui_library/fonts/text/SpaceMono-Bold.ttf
          weight: 700

    - family: UIcons
      fonts:
        - asset: packages/ui_library/fonts/icon/UIcons.ttf